# build directories
build*/

# Temporary testing files
tst/test_log.txt

# Athena output files
*.tab
*.vtk
*.bin
*.athdf*
*.hst
*.rst

# Mac OS metadata
.DS_Store
.vscode

# editor temp files
*~
*.swp
Lorene

# Python cache files
__pycache__/
*.pyc
